# Day 2

[https://adventofcode.com/2022/day/2]()

In [1]:
import pandas as pd

### Answer 1

In [2]:
df = pd.read_table('./inputs/day02_input_full.txt', names=['opponent', 'me'], sep=' ')
df.opponent = df.opponent.map({'A': 'R', 'B': 'P', 'C': 'S'})
df.me = df.me.map({'X': 'R', 'Y': 'P', 'Z': 'S'})

In [3]:
win = ['RP', 'PS', 'SR']
lost = ['RS', 'PR', 'SP']
draw = ['RR', 'PP', 'SS']

In [4]:
def get_result(r):
    v = f'{r.opponent}{r.me}'
    if win.count(v.upper()): return 'W'
    if lost.count(v.upper()): return 'L'
    if draw.count(v.upper()): return 'D'
    raise v

def cal_score(r):
    score = {'W': 6, 'L': 0, 'D': 3}.get(r.result) + {'R': 1, 'P': 2, 'S': 3}.get(r.me)
    return score

In [5]:
df['result'] = df.apply(get_result, axis=1)
df['score'] = df.apply(cal_score, axis=1)

In [6]:
df.score.sum()

13682

### Answer 2

In [7]:
df = pd.read_table('./inputs/day02_input_full.txt', names=['opponent', 'result'], sep=' ')

# Converting opponent's move code to a more readable code
# R for Rock, P for Paper, S for Scissors
df.opponent = df.opponent.map({'A': 'R', 'B': 'P', 'C': 'S'})

# Converting result code to a more readable code
# L for Lose, D for Draw, W for Win
df.result = df.result.map({'X': 'L', 'Y': 'D', 'Z': 'W'})

# For each outcome, what should be my move for a given opponent move.
# {outcome: {opp_move: my_move, ...}, ...}
result_to_move_map = {'L': {'R': 'S', 'P': 'R', 'S': 'P'},
                      'D': {'R': 'R', 'P': 'P', 'S': 'S'},
                      'W': {'R': 'P', 'P': 'S', 'S': 'R'}}

In [8]:
df['me'] = df.apply(lambda r: result_to_move_map.get(r.result).get(r.opponent), axis=1)

In [9]:
df['score'] = df.apply(cal_score, axis=1)
df

     opponent result me  score
0           S      W  R      7
1           S      W  R      7
2           S      D  S      6
3           S      W  R      7
4           S      W  R      7
...       ...    ... ..    ...
2495        R      D  R      4
2496        S      W  R      7
2497        R      D  R      4
2498        S      W  R      7
2499        R      D  R      4

[2500 rows x 4 columns]

In [10]:
df.score.sum()

12881

### Submission

Submitted answers:
* Answer 1 = 13682
* Answer 2 = 12881